@import '../node_modules/@syncfusion/ej2-base/styles/material.css';
@import '../node_modules/@syncfusion/ej2-icons/styles/material.css';
@import '../node_modules/@syncfusion/ej2-buttons/styles/material.css';
@import '../node_modules/@syncfusion/ej2-splitbuttons/styles/material.css';
@import '../node_modules/@syncfusion/ej2-inputs/styles/material.css';
@import '../node_modules/@syncfusion/ej2-lists/styles/material.css';
@import '../node_modules/@syncfusion/ej2-navigations/styles/material.css';
@import '../node_modules/@syncfusion/ej2-popups/styles/material.css';
@import '../node_modules/@syncfusion/ej2-richtexteditor/styles/material.css';

.sidebar-container {
  max-height: 110%;
  overflow-y: auto;
}

.notes-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow-y: auto;
  max-height: 550px;
}
.navbar-container {
  background-color: #f8f8f8;
}
.navbar{
  background-color: #f8f8f8;
  display: flex;
  justify-content: space-between;
  align-items: center;
.title:hover {
  color: rgba(255, 204, 110, 0.8); /* Yellow text color with 80% opacity */
}
.title {
  font-size: 1.5em;
  font-weight: bold;
  margin-right: 10px;
  color: rgba(255, 204, 110, 1); /* Yellow text color with full opacity */
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black; /* Black border */
}

